body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: midnightblue;
}

button {
    position: relative;
    align-items: center;
    width: 200px;
    height: 45px;
    color: black;
    font-size: large;
    background-color: orange;
    margin-top: 50px;
    border-radius: 10px;
}

h2 {
    color: white;
}